@model string;

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin") || User.IsInRole("Func"))
{
    <div style="position: fixed; right: 25px; bottom: 25px;" class="text-white rounded-pill">
        <a asp-controller="@Model" asp-action="Create" class="btn btn-success">
        <i class="bi bi-plus-circle"></i> Adicionar @Model
    </a>
    </div>
}
