@{
    Layout = null;
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Deez Gamez - Online Shopping Store</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/css/styles.css" rel="stylesheet" />
    @RenderSection("cssstyle", required: false)
</head>
<body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">Deez Gamez</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item dropdown">
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Admin Menu</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                               <li><a class="dropdown-item" asp-controller="Perfils" asp-action="Index">Gestão de Utilizadores</a></li>
                               <li><a class="dropdown-item" asp-controller="Jogos" asp-action="Index">Gestão de Jogos</a></li>
                               <li><a class="dropdown-item" asp-controller="Produtoras" asp-action="Index">Gestão de Produtoras</a></li>
                               <li><a class="dropdown-item" asp-controller="Plataformas" asp-action="Index">Gestão de Plataformas</a></li>
                               <li><a class="dropdown-item" asp-controller="Categorias" asp-action="Index">Gestão de Categorias</a></li>
                            </ul>  
                         }
                    </li>
                </ul>
            </div>
                <form class="d-flex">
                @if (User.Identity.IsAuthenticated)
                {
                    <button class="btn btn-outline-dark" type="submit" asp-controller="Wishlists" asp-action="Index">
                        <i class="bi-cart-fill me-1"></i>
                        Carrinho
                        <span class="badge bg-dark text-white ms-1 rounded-pill"></span>
                    </button>
                }
                </form>
                <partial name="_LoginPartial" />
        </div>
    </nav>

    @RenderBody()
    <script src="~/lib/jquery-ajax/jquery.unobtrusive-ajax.js"></script>
    @RenderSection("scripts", required: false)


</body>
</html>