@model lab4t1.Models.Jogo

@{
    ViewData["Title"] = "JogoComprado";
}

<body style="background-color:#212529">
    <div class="text-center">
        <h1 class="text-success">JOGO COMPRADO COM SUCESSO</h1>
    </div>
</body>