@model lab4t1.Models.Categoria

@{
    ViewData["Title"] = "Create";
}
<body style="background-color:#212529">
    <
    <h1 class="text-white" style="text-align:center">Criar Categoria</h1>

<h4>Categoria</h4>
<hr />
    <div class="row text-white">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Adicionar Categoria" class="btn btn-primary " />
            </div>
        </form>
    </div>
</div>

<div>
        <a asp-action="Index" class="text-white">Back to List</a>
</div>
</body>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
