@page
@using lab4t1.Areas.Identity.Pages.Account;

@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

@{
    Layout = "~/Views/Shared/_layout2.cshtml";

}

<link href="~/css/register.css" rel="stylesheet" />
<body style="background-color:#212529">

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="register-container">
        <section>
            <form id="account" method="post">
                <h1 class="register-title">Login</h1>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<div class="form-group">
					<label asp-for="Input.UserName" class="form-label"></label>
                        <input asp-for="Input.UserName" class="form-control" autocomplete="username" aria-required="true" placeholder="Insira o seu username" />
                    <span asp-validation-for="Input.UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password" class="form-label"></label>
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Insira a sua password" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div>
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                </div>
                <div>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Não tem conta? Registe-se</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    
</div>

</body>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}