.card-body h1{
    font-weight: 500 !important;
    font-size: 90px !important;
    position: relative;
    top:-50px;
}

#ColunaInfo h4{
    border-width: 20px;
    border-color: red;
}

.CartaoFixe {
    background-color: transparent !important;
    border-width:0;
}

.DerJeito {
    padding: 50px 200px 0px !important;
    position: relative;
    margin-left: 400px;
}

.card-body{
    padding-top: 0px;
}