@model lab4t1.Models.Perfil

@{
    ViewData["Title"] = "Edit";
}
<body style="background-color:#212529">
    <h1 class="text-white" style="text-align:center">Editar Utilizador</h1>

<h4 class="text-white">Perfil</h4>
<hr />
<div class="row">
        <div class="col-md-4 text-white">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group text-white">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group text-white">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="text-white">Voltar à lista</a>
</div>
</body>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
